﻿<div class="wfe-application-footer">
    <span style="padding-top: 20px;">
        <b>COPYRIGHT © 2019 SAVIS CORP</b>
        Official site - <a href="https://savis.com.vn">https://savis.com.vn</a>
    </span>
</div>